$navy-blue: hsl(236, 89%, 14%);
$white: hsl(236, 89%, 96%);
$success: hsl(120, 83%, 23%);
$danger: hsl(9, 85%, 23%);

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');



body {
    display: grid;
    grid-template-rows: 50px 200px 100px repeat(5,60px);
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-row-gap: 10px;
    height: 100vh;
    background: linear-gradient(darken($navy-blue, 10), $navy-blue);
    font-family: 'Lato', sans-serif;
    color: $white;
}

.success-text {
    color: $success;
    font-style: normal;
}

.danger-text {
    color: $danger;
    font-style: normal;
}

nav {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: transparent;
    color: $white;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        transition: 1s all;
        transform: translate(0, 0);
        opacity: 1;
    }

    .faded {
        transform: translate(0, -20px);
        opacity: 0
    }

}

header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.queue-owned {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0 auto;
    align-self: center;
}

.queue-subscribed {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    margin: 0 auto;
    align-self: center;
}

.card {
    width: 100%;
    text-align: center;
    height: 95%;
    // border: 1px solid $navy-blue;
    background-color: $white;
    color: $navy-blue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px darken($white, 5);
    transform: translate(0, 0);
    transition: background-color 0.25s, transform 0.75s, opacity 0.55s;
    opacity: 1;

    &:hover {
        background-color: darken($white, 5);
        cursor: pointer;
    }

    p {
        margin: 5px;
    }

    .info-row {
        display: flex;
        justify-content: space-between;
        font-size: .8em;
        margin: 10px 10px 0 10px;
    }
}

.owned-card {
    grid-column: 2 / 3;
    align-self: center;
}

.owned-fade {
    transform: translate(-20px, 0);
    opacity: 0;
}

.subscribed-card {
    grid-column: 4 / 5;
}

.sub-fade {
    transform: translate(20px, 0);
    opacity: 0;
}

.card0 {
    grid-row: 4 / 5;
}

.card1 {
    grid-row: 5 / 6;
}

.card2 {
    grid-row: 6 / 7;
}