@import 'utilities/vars';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import 'utilities/extend';

body {
    @extend %body-style;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 50px 200px repeat(4, 100px);
}

nav {
    @extend %nav-style;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

header {
    @extend %header-style;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

main {

    grid-row: 3 / span 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 15px;

    .card {
        grid-column: 1;
        background-color: $white;
        box-shadow: 0px 0px 10px $white; 
    }

    .row-1 {
        grid-row: 1 / 2;
    }

    .row-2 {
        grid-row: 2 / 3;
    }

    .row-3 {
        grid-row: 3 / 4;
    }
}