@import 'utilities/vars';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');


.success {
    color: $success;
}

.danger {
    color: $danger;
}

body {
    display: grid;
    grid-template-rows: 50px 200px repeat(8, 75px);
    grid-template-columns: 200px 1fr 6fr 1fr;
    grid-row-gap: 10px;
    background: linear-gradient(darken($navy-blue, 10), $navy-blue);
    font-family: 'Lato', sans-serif;
    color: $white;
    min-height: 100vh;
}

nav {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: transparent;
    color: $white;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        transition: 1s all;
        transform: translate(0, 0);
        opacity: 1;

        li {
            color: $white;
            transition: 0.5s color;
        }

        li:hover {
            color: $highlight;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

    }

    .faded {
        transform: translate(0, -20px);
        opacity: 0
    }

}

header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

}

aside {
    grid-column: 1 / 2;
    grid-row: 2 / 11;
    background: linear-gradient(to bottom right, darken($white, 10), darken($white, 5));
    color: $navy-blue;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        list-style: none;
        margin-top: 50px;
        padding: 0;
        text-indent: 10px;

        li {
            margin-bottom: 10px;
            transition: 0.25s all;
            padding: 5px;

        }

        li:hover {
            background-color: darken($white, 15);
            text-indent: 15px;
        }

        span {
            transition: 0.25s;
        }

        button {
            background: linear-gradient(to right, darken($navy-blue, 5), lighten($navy-blue, 5));
            color: $white;
            border: $navy-blue;
            padding: 5px 10px;
            transition: 0.25s all;

            &:hover {
                cursor: pointer;
                color: $highlight;
            }
        }
    }
}

main {
    grid-column: 3 / 4;
    grid-row: 3 / span 4;
    box-shadow: 0px 0px 160px lighten($navy-blue, 20);


    .queue-card {
        background-color: $white;
        height: 75px;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 2fr 6fr 3fr;

        .status {
            grid-column: 1 / 2;
            background-color: lighten($navy-blue, 50);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .matchup {
            grid-column: 2 / 3;
            color: $navy-blue;
            text-align: center;
            display: flex;
            align-items: center;

            h3 {
                width: 100%;
            }

            span {
                font-weight: 200;
                margin-left: 5%;
                margin-right: 5%;
            }
        }

        .buttons {
            grid-column: 3 / 4;
            color: $navy-blue;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 2em;

        }
        
    }
}

section {
    grid-column: 3 / 4;
    grid-row: 7 / 9;
    border: 2px solid $white;
    border-radius: 10px;
    padding: 20px 50px;
    text-align: center;
    transition: 0.5s all;
    overflow: hidden;
    height: 160px;

    &:hover h3 {
        color: $highlight;
    }

    &:hover {
        border: 2px solid $highlight;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 40px;
    }

    label {
        margin: 50px 20px;
    }

    button {
        margin-top: 15px;
        padding: 5px 50px;
        background-color: lighten($navy-blue, 40);
        color: $white;
        border-radius: 5px;
        border: 1px solid $white;
        transition: all .5s;

        &:hover {
            background-color: lighten($navy-blue, 60);
        }
    }
    
}
.close-add-match {
    height: 50px;
    padding: 20px 0px 0px 0px;
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-rows: 50px 100px 200px repeat(8, 75px);
        grid-template-columns: 100%;
    }

    header {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    aside {
        grid-row: 3 / 4;
        width: 100%;
    }

    main {
        grid-row: 4 / span 7;
        grid-column: 1 / 2;

        .queue-card {
            height: 100px;
        }
    }

    section {
        grid-row: 9 / 12;
        grid-column: 1 / 2;
        margin-top: 20px;
    }
}