@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
.success {
  color: #08bf08;
}

.danger {
  color: #d32709;
}

body {
  display: grid;
  grid-template-rows: 50px 200px repeat(8, 75px);
  grid-template-columns: 200px 1fr 6fr 1fr;
  grid-row-gap: 10px;
  background: linear-gradient(#010213, #040843);
  font-family: 'Lato', sans-serif;
  color: #ecedfe;
  min-height: 100vh;
}

nav {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: transparent;
  color: #ecedfe;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  transition: 1s all;
  transform: translate(0, 0);
  opacity: 1;
}

nav ul li {
  color: #ecedfe;
  transition: 0.5s color;
}

nav ul li:hover {
  color: #e7d808;
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: inherit;
}

nav .faded {
  transform: translate(0, -20px);
  opacity: 0;
}

header {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  color: #ecedfe;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 11;
  background: linear-gradient(to bottom right, #bcc0fb, #d4d6fc);
  color: #040843;
}

aside a {
  text-decoration: none;
  color: inherit;
}

aside ul {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  text-indent: 10px;
}

aside ul li {
  margin-bottom: 10px;
  transition: 0.25s all;
  padding: 5px;
}

aside ul li:hover {
  background-color: #a3a9fa;
  text-indent: 15px;
}

aside ul span {
  transition: 0.25s;
}

aside ul button {
  background: linear-gradient(to right, #03052b, #050b5c);
  color: #ecedfe;
  border: #040843;
  padding: 5px 10px;
  transition: 0.25s all;
}

aside ul button:hover {
  cursor: pointer;
  color: #e7d808;
}

main {
  grid-column: 3 / 4;
  grid-row: 3 / span 4;
  box-shadow: 0px 0px 160px #0a14a4;
  background: radial-gradient(#040843, #070e74);
}

main ul {
  padding: 0;
  margin: 0;
}

main .queue-card {
  background-color: #ecedfe;
  height: 75px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
}

main .queue-card .status {
  grid-column: 1 / 2;
  background-color: #515cf5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .queue-card .matchup {
  grid-column: 2 / 3;
  color: #040843;
  text-align: center;
  display: flex;
  align-items: center;
}

main .queue-card .matchup h3 {
  width: 100%;
}

main .queue-card .matchup span {
  font-weight: 200;
  margin-left: 5%;
  margin-right: 5%;
}

main .queue-card .buttons {
  grid-column: 3 / 4;
  color: #040843;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  font-size: 1em;
}

main .queue-card .buttons i:nth-child(2) {
  margin-left: 20px;
}

main .queue-card .finish-button {
  color: #068e06;
  transition: 0.25s all;
}

main .queue-card .finish-button:hover {
  color: #0af00a;
}

main .queue-card .delete-button {
  color: #a21e07;
  transition: 0.25s all;
}

main .queue-card .delete-button:hover {
  color: #f53a19;
}

section {
  grid-column: 3 / 4;
  grid-row: 7 / 9;
  border: 2px solid #ecedfe;
  border-radius: 10px;
  padding: 20px 50px;
  text-align: center;
  transition: 0.5s all;
  overflow: hidden;
  height: 160px;
  position: relative;
}

section #add-arrow {
  position: absolute;
  font-size: 2em;
  color: #ecedfe;
  left: 5%;
  width: 50px;
  transition: 0.25s all;
  transform: rotate(0deg);
}

section #add-arrow:hover {
  color: #e7d808;
}

section h3 {
  margin-top: 0;
  margin-bottom: 40px;
}

section label {
  margin: 50px 20px;
}

section input {
  margin-bottom: 10px;
  padding: 3px;
}

section button {
  margin-top: 10px;
  padding: 5px 50px;
  background-color: #212ff2;
  color: #ecedfe;
  border-radius: 5px;
  border: 1px solid #ecedfe;
  transition: all .5s;
}

section button:hover {
  background-color: #828af8;
}

.close-add-match {
  height: 50px;
  padding: 20px 0px 0px 0px;
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-rows: 50px 100px 200px repeat(8, 75px);
    grid-template-columns: 100%;
  }
  header {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  aside {
    grid-row: 3 / 4;
    width: 100%;
  }
  main {
    grid-row: 4 / span 7;
    grid-column: 1 / 2;
  }
  main .queue-card {
    height: 100px;
  }
  section {
    grid-row: 9 / 12;
    grid-column: 1 / 2;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=queue.css.map */