

$navy-blue: hsl(236, 89%, 14%);
$white: hsl(236, 89%, 90%);


.login-component {
    display: grid;
    grid-template-rows: 20vh minmax(250px, 60vh) 20vh;
    grid-template-columns: 1fr minmax(300px, 1fr) 1fr;
    background: radial-gradient(lighten($navy-blue, 20), $navy-blue);
    font-family: 'Lato', sans-serif;
}

.login-box {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 20px;

    div {
        display: flex;
        flex-direction: column;
    }
    h3 {
        text-align: center;
    }

    input, label {
        margin-bottom: 10px;
    }

    button {
        background-color: lighten($navy-blue, 50);
        width: 50%;
        color: $white;
        border-radius: 5px;
        border: 2px solid lighten($navy-blue, 40);
        margin: 10px auto;
        padding: 10px;
        transition: 0.5s background-color;

        &:hover {
            background-color: lighten($navy-blue, 60);
            cursor: pointer;
        }
    }
}

.copy {
    color: $white;
    font-size: 10px;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
}