<h3 mat-dialog-title>Search Results:</h3>
<table class="results-table" *ngIf="data?.list" mat-table [dataSource]="data?.list" >
    <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.displayName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
    <ng-container matColumnDef="subbed">
        <th mat-header-cell *matHeaderCellDef>Subbed?</th>
        <td mat-cell *matCellDef="let user">{{ isSubbed(user) && 'Yes' || 'No' }}</td>
    </ng-container>
    <ng-container matColumnDef="access">
        <th mat-header-cell *matHeaderCellDef>Access</th>
        <td mat-cell *matCellDef="let user">{{ access(user.uid, user.invites).title }}</td>
    </ng-container>
    <ng-container matColumnDef="invite">
        <th mat-header-cell *matHeaderCellDef>Invite</th>
        <td mat-cell *matCellDef="let user">
            <span *ngIf="access(user.uid, user.invites).code < 2" class="table-button-span">
                <button mat-fab color="primary" class="table-button" (click)="add(user.uid)">Invite</button>
            </span>
            <span *ngIf="access(user.uid, user.invites).code === 2" class="table-button-span">
                    <button mat-fab color="primary" class="table-button" (click)="remove(user.uid)">Uninvite</button>
                </span>
            <span *ngIf="access(user.uid, user.invites).code === 3" class="table-button-span">
                <button mat-fab color="accent" class="table-button">Remove</button>
            </span>
            <span *ngIf="access(user.uid, user.invites).code === 4" class="table-button-span">You own it!</span>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<p>{{ toast }}</p>
<!-- <p *ngFor="let user of data.list">{{ user?.displayName }}</p> -->