@mixin nav-style {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: transparent;
    color: $white;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        transition: 1s all;
        transform: translate(0, 0);
        opacity: 1;

        li {
            color: $white;
            transition: 0.5s color;
        }

        li:hover {
            color: $highlight;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

@mixin body-style {
    display: grid;
    grid-template-rows: 50px 200px repeat(8, 75px);
    grid-template-columns: 200px 1fr 6fr 1fr;
    grid-row-gap: 10px;
    background: linear-gradient(darken($navy-blue, 10), $navy-blue);
    font-family: 'Lato', sans-serif;
    color: $white;
    min-height: 100vh;
}