<div class="queue-body">
    <header>
        <h1>{{ currentTourn?.name }}</h1>
    </header>
    <aside>
        <ul>
            <a routerLink="/dashboard"><li><strong>Back to dashboard</strong></li></a>
            <li class="active">Match list</li>
            <li>Current Access: {{ currentAccessString() }}</li>
            <li (click)="toggleUserSearch()">Invite users</li>
            <li class="user-search hide-search" *ngIf="!allowSearch">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Search for User" value="Name" [(ngModel)]="searchVal">
                </mat-form-field>
                <button class="search-button hide-search-button" mat-raised-button (click)="userSearch()">Search</button>
            </li>
            <li>Subscribed: <strong><span id="activeStatus" [ngClass]="{success: isSubscribed, danger: !isSubscribed}" class="success">{{ isSubscribed && 'Yes' || 'No' }}</span></strong></li>
            <li>
                <button id="activeToggle" (click)="toggleSub()">Toggle Subscribe</button>
            </li>
            <li>Active: <strong><span id="activeStatus" [ngClass]="{success: currentTourn?.active, danger: !currentTourn?.active}" class="success">{{ currentTourn?.active && 'Yes' || 'No' }}</span></strong></li>
            <li>
                <button id="activeToggle" (click)="toggle()">Toggle Active</button>
            </li>
            <li (click)="userAccessList()">List Users with Access</li>
            <a href="finished-matches.html"><li>Finished Matches</li></a>
        </ul>
    </aside>
    <main>
        <ul id="sortable">
            <ng-container *ngFor="let match of unfinishedMatches">
                <li *ngIf="match.finished === false" class="queue-card" draggable="true" id="card0" ondrop="drop(event)">
                    <div class="status">
                        <p class="status-text"><strong># {{ match.order }}</strong></p>
                    </div>
                    <div class="matchup">
                        <h3>{{ match.player1 }} <span>vs</span> {{ match.player2 }}</h3>
                    </div>
                    <div class="buttons">
                        <mat-icon>check_circle</mat-icon>
                        <i class="fas fa-times-circle delete-button"></i>
                    </div>
                </li>
            </ng-container>
            
        </ul>
        
    </main>
    <section class="close-add-match" (click)="addMatch()">
        <i class="fas fa-angle-down" id="add-arrow"></i>
        <h3 id="sectionh3">Add match</h3>
        <label for="">Player 1</label>
        <input type="text">
        <br>
        <label for="">Player 2</label>
        <input type="text">
        <br>
        <button>Submit</button>
    </section>
    <div class="legend">
        <p><i class="fas fa-check-circle finish-button"></i> = Remove match and mark as finished <i class="fas fa-times-circle delete-button"></i> = Remove match without being marked as finished.</p>
    </div>
</div>